# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(MASS)

# Define global functions
importFrom("grDevices", "dev.copy", "dev.off")
importFrom("graphics", "abline", "par", "plot.default", "points")
importFrom("stats", "cor", "quantile", "rnorm")
